
#subheader {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    div {
        padding-left: 10px;
    }
    div:first-of-type {
        padding-left: 0;
    }
}

div.profile-picture {
    flex-shrink: 0;
    img {
        display: block;
        width: 180px;
        height: auto;
        border-radius: 3%;
    }
}

div.subheader-right {
    text-align: justify;
}

.address {
    font-size: larger;
    font-weight: 400;
}

a.pub-link:link, a.pub-link:visited {
    padding: 0.2ex 0.8ex;
    border-style: solid;
    border-width: 0;
    border-radius: 2px;
}

.social-media-list {
    img {
        vertical-align: text-top;
        display: inline-block;
        padding-right: 5px;
    }
}

.publication {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    p {
        text-indent: -1.2rem;
        margin-inline-start: 1.2rem;
    }
}

.pub-year {
    font-weight: normal;
}

.my-video {
    width: 95%;
}
