
#subheader {
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    text-align: justify;
    p {
        margin-top: 15px;
        margin-bottom: 0;
    }
}

div.profile-picture {
    float: left;
    margin-right: 14px;
    border-radius: 3%;
    overflow: hidden;
    img {
        width: 180px;
        height: auto;
        display: block;
        margin: auto 0;
    }
}

@media (max-width: 440px) {
    div.profile-picture {
        float: none;
        margin-right: 0;
        margin-bottom: 10px;
        width: min(250px, 100%);
        aspect-ratio: 720 / 920;
        margin-left: auto;
        margin-right: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center 50%;
        }
    }
}

.address {
    font-size: larger;
    font-weight: 400;
}

a.pub-link:link, a.pub-link:visited {
    padding: 0.2ex 0.8ex;
    border-style: solid;
    border-width: 0;
    border-radius: 2px;
}

.social-media-list {
    img {
        vertical-align: text-top;
        display: inline-block;
        padding-right: 5px;
    }
}

.publication {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    p {
        text-indent: -1.2rem;
        margin-inline-start: 1.2rem;
    }
}

.pub-year {
    font-weight: normal;
}

.my-video {
    width: 95%;
}
