
#subheader {
    background: rgba(crimson, .4);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    div {
        padding-left: 10px;
    }
    div:first-of-type {
        padding-left: 0;
    }
}

.content {
    display: block;
}

div.profile-picture {
    img {
        display: block;
        max-height: 1000px;
        width: auto;
        border-radius: 3%;
    }
}

div.subheader-right {
    text-align: justify;
}

.address {
    font-size: larger;
    font-weight: 400;
}

a.pub-link:link, a.pub-link:visited {
    background: fixed;
    padding: 0.2ex 0.8ex;
    border-style: solid;
    border-width: 0;
    border-radius: 2px;
    background: rgba(crimson, 0.5);
    // text-decoration: none;
    transition: background-color 400ms ease;
    &:hover {
        background-color: rgba(crimson, 0.7);
    }
}

.social-media-list {
    img {
        vertical-align: text-top;
        display: inline-block;
        padding-right: 5px;
    }
}

.publication {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.pub-year {
    font-weight: normal;
}

.pub-journal {
    font-style: italic;
}
