{% macro bibstrip(text) %}
    {{ text | replace(from="--",to="—") | replace(from="{", to="") | replace(from="}", to="") | safe }}
{% endmacro %}

{% macro bib_proceedings(ref) %}
    {{ ref.tags.author }},
    <em>{{ref.tags.booktitle}},</em>
    {% if ref.tags.address %}{{ref.tags.address}},{% endif %}
    {% if ref.tags.pages %}pp. {{ ref.tags.pages }},{% endif %}
    {{ ref.tags.year }}.
{% endmacro bib_proceedings %}

{% macro bib_journal(ref) %}
    {{ ref.tags.author }},
    <em>{{ ref.tags.journal }}</em>,
    vol. {{ ref.tags.volume }},
    pp. {{ ref.tags.pages }},
    {% if ref.tags.month %}{{ref.tags.month}}{% endif %}
    {{ ref.tags.year }}.
{% endmacro %}

{% macro print_ref(ref) %}
    {%- if ref.entry_type == "inproceedings" %}
        {{macros::bibstrip(text=macros::bib_proceedings(ref=ref))}}
    {%- elif ref.entry_type == "article" %}
        {{macros::bibstrip(text=macros::bib_journal(ref=ref))}}
    {%- else %}
        {{ ref.tags.author }},
        {% if ref.tags.month %}{{ref.tags.month}}{% endif %}
        {{ ref.tags.year }}.
    {% endif %}
    {%- if ref.tags.doi -%}
        DOI:<a href="https://doi.org/{{ ref.tags.doi }}" class="pub-link">{{ ref.tags.doi }}</a>
    {%- endif -%}
    {%- if ref.tags.hal_id -%}
        <a href="https://hal.science/{{ ref.tags.hal_id }}" class="pub-link">&lang;{{ ref.tags.hal_id }}&rang;</a>
    {%- endif -%}
{% endmacro print_ref %}
