---
---

@import "minima";

.address {
    font-size: larger;
    font-weight: 400;
    display: block;
}

.pub-list {
    @extend .post-list;
}

li.pub-item {
    border-left-style: solid;
    padding-left: 10px;
    padding-bottom: 10px;
    border-left-color: bisque;
    border-left-width: 2px;
    margin-left: 0;
    list-style: none;
    @extend li;
}

.pub-title {
    color: #2a7ae2;
    @extend .post-link;
}

a.pub-link:link, a.pub-link:visited {
    margin-right: 1em;
    color: white;
    background: fixed;
    padding: 0.2ex 0.8ex;
    border: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    background-color: rgb(236, 69, 69);
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.pub-item p {
    text-align: justify;
}

// @import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
// @import "minima/initialize";