{% import "macros.html" as macros %}
{% extends "index.html" %}

{% block content %}

{% set citations = load_data(path="static/references.bib", format="bibtex") -%}
{% set sorted_bib = citations.bibliographies %}

<div>
    {% set_global last_year = "" %}
    {%- for bib in sorted_bib | sort(attribute="tags.year") | reverse %}
    {%- if last_year != bib.tags.year %}
        <h1 class="pub-year">{{bib.tags.year}}</h1>
        {%- set_global last_year = bib.tags.year -%}
    {% endif -%}

    <div class="publication">
        {% set _title = macros::process_bib(text=bib.tags.title) %}
        <h2>{{_title}}</h2>
        <p>
            {%- if bib.entry_type == "inproceedings" %}
                {{macros::process_bib(text=macros::bib_proceedings(ref=bib))}}
            {%- elif bib.entry_type == "article" %}
                {{macros::process_bib(text=macros::bib_journal(ref=bib))}}
            {%- endif %}
            {%- if bib.tags.doi -%}
                DOI: <a href="https://doi.org//{{ bib.tags.doi }}" class="pub-link">{{ bib.tags.doi }}</a>
            {%- endif -%}
        </p>
    </div>
    {% endfor -%}
</div>

{% endblock content %}
