{% import "macros/bib.html" as macros %}
{% extends "index.html" %}

{% block main %}

{% set citations = load_data(path="static/publications.bib", format="bibtex") -%}
{% set sorted_bib = citations.bibliographies %}

<div>
    {% set_global last_year = "" %}
    {%- for bib in sorted_bib | sort(attribute="tags.year") | reverse %}
    {%- if last_year != bib.tags.year %}
        <h1 class="pub-year">{{bib.tags.year}}</h1>
        {%- set_global last_year = bib.tags.year -%}
    {% endif -%}

    <div class="publication">
        <h3>{{macros::bibstrip(text=bib.tags.title)}}</h3>
        <p>
            {{macros::print_ref(ref=bib)}}
        </p>
    </div>
    {% endfor -%}
</div>

{% endblock main %}
