{% extends "terminus/templates/index.html" %}

{%- block main -%}
<header
        class="content {%- if section.extra.framed %} framed{%- endif -%}">
    <div id="profile-picture">
        <img src="/picture.jpg" alt="picture">
    </div>
    {{ section.content | indent | safe }}
</header>

{%- if section.extra.section_path -%}
    {%- set blog_section = get_section(path=section.extra.section_path) -%}
    {%- set num_top_posts = section.extra.max_posts | default(value=blog_section.pages | length) -%}
    {%- set top_posts = blog_section.pages | slice(end=num_top_posts) -%}
{%- else -%}
    {%- set blog_section = section -%}
    {%- set top_posts = blog_section.pages -%}
{%- endif -%}

{% for page in paginator.pages | default(value=top_posts) -%}
{{ post_macros::excerpt(page=page) }}
{% endfor -%}

{%- if paginator and paginator.number_pagers > 1 %}
<nav class="pagination">
    <ul>
        {%- if paginator.previous %}
        <li><a rel="prev" href="{{ paginator.previous | safe }}" aria-label="newer posts">&lt;&nbsp;[newer posts]</a></li>
        {%- endif %}
        {%- if paginator.next %}
        <li><a rel="next" href="{{ paginator.next | safe }}" aria-label="older posts">[older posts]&nbsp;&gt;</a></li>
        {%- endif %}
    </ul>
</nav>
{%- endif %}
{%- endblock main -%}
