{% extends "terminus/templates/index.html" %}

{% block main %}
{%- filter indent -%}{%- filter indent -%}
<section id="subheader">
    <div class="profile-picture">
        <img src="/picture.jpg" alt="picture">
    </div>
    <div class="address">
        <span style="font-weight: bold;">Wilson R. Jallet, PhD</span><br>
        <a href="https://www.cfm.com/">Capital Fund Management</a>
    </div>
    <p>
        I am an incoming quantitative researcher at CFM.
    </p>
    <p>
        Previously, I was a postdoctoral researcher at INRIA, in the <a href="https://www.di.ens.fr/willow/">WILLOW project-team</a>.
        I did my PhD between Willow and the <a href="https://www.laas.fr/public/fr/gepetto">Gepetto team</a> at LAAS-CNRS, under the supervision of both <a href="https://gepettoweb.laas.fr/nmansard">Nicolas Mansard</a> and <a href="https://jcarpent.github.io">Justin Carpentier</a>.
        My work focused on real-time numerical optimization-based control for robotics.
    </p>
    <p>
        I obtained an engineering degree from <a href="https://www.polytechnique.edu/">École polytechnique</a>, and a master's degree in applied mathematics
        and computer science (<a href="https://www.master-mva.com">MVA</a>) from <a href="https://ens-paris-saclay.fr/">ENS Paris-Saclay</a>.
    </p>
    <p>
        Check out my CV <a href="/documents/cv_willjallet.pdf">here</a>.
    </p>
</section>

{%- if section.extra.section_path -%}
    {%- set blog_section = get_section(path=section.extra.section_path) -%}
    {%- set num_top_posts = section.extra.max_posts | default(value=blog_section.pages | length) -%}
    {%- set top_posts = blog_section.pages | slice(end=num_top_posts) -%}
{%- else -%}
    {%- set blog_section = section -%}
    {%- set top_posts = blog_section.pages -%}
{%- endif -%}

{% for page in paginator.pages | default(value=top_posts) -%}
{{ post_macros::excerpt(page=page) }}
{% endfor -%}

{%- if paginator and paginator.number_pagers > 1 %}
<nav class="pagination">
    <ul>
        {%- if paginator.previous %}
        <li><a rel="prev" href="{{ paginator.previous | safe }}" aria-label="newer posts">&lt;&nbsp;[newer posts]</a></li>
        {%- endif %}
        {%- if paginator.next %}
        <li><a rel="next" href="{{ paginator.next | safe }}" aria-label="older posts">[older posts]&nbsp;&gt;</a></li>
        {%- endif %}
    </ul>
</nav>
{%- endif %}
{%- endfilter -%}{%- endfilter -%}
{% endblock main %}
