<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            // customised options
            // • auto-render specific keys, e.g.:
            delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false},
            {left: "\\begin{equation}", right: "\\end{equation}", display: true},
            {left: "\\begin{align}", right: "\\end{align}", display: true},
            {left: "\\begin{alignat}", right: "\\end{alignat}", display: true},           
            {left: '\\(', right: '\\)', display: false},
            {left: '\\[', right: '\\]', display: true}
            ],
            macros: {
                "\\R": "\\mathbb{R}",
                "\\defeq": ":=",
                "\\suchthat": "\\mathrm{s.t.}\\ ",
                "\\argmin": "\\operatorname*{argmin}",
                "\\argmax": "\\operatorname*{argmax}",
                "\\dif": "\\operatorname*{d}\\!",
                "\\prox": "\\operatorname*{prox}",
                "\\KL": "\\operatorname{KL}",
                "\\EE": "\\mathbb{E}",
                "\\RR": "\\mathbb{R}",
                "\\ZZ": "\\mathbb{Z}",
                "\\NN": "\\mathbb{N}",
                "\\calF": "\\mathcal{F}",
                "\\calL": "\\mathcal{L}",
                "\\calM": "\\mathcal{M}",
                "\\calW": "\\mathcal{W}",
                "\\calU": "\\mathcal{U}",
                "\\calX": "\\mathcal{X}",
                "\\calY": "\\mathcal{Y}",
                "\\calZ": "\\mathcal{Z}",
                "\\bfm": "\\mathbf",
                "\\bfx": "\\bfm{x}",
                "\\bfu": "\\bfm{u}",
                "\\Aut": "\\operatorname{Aut}",
                "\\Ad": "\\operatorname{Ad}",
                "\\GL": "\\operatorname{GL}"
            },
            // • rendering keys, e.g.:
            throwOnError : false
        });
    });
</script>
