{% macro process_bib(text) %}
    {{ text | replace(from="--",to="—") | replace(from="{", to="") | replace(from="}", to="") | safe }}
{% endmacro %}

{% macro bib_proceedings(ref) %}
    {{ ref.tags.author }},
    in <span class="pub-journal">{{ref.tags.booktitle}},</span>
    {% if ref.tags.address %}{{ref.tags.address}},{% endif %}
    {% if ref.tags.pages %}pp. {{ ref.tags.pages }},{% endif %}
    {{ ref.tags.year }}.
{% endmacro bib_proceedings %}

{% macro bib_journal(ref) %}
    {{ ref.tags.author }},
    in <span class="pub-journal">
        {{ ref.tags.journal }},
    </span>
    vol. {{ ref.tags.volume }},
    pp. {{ ref.tags.pages }},
    {% if ref.tags.month %}{{ref.tags.month}}{% endif %}
    {{ ref.tags.year }}.
{% endmacro %}

{% macro print_ref(bib) %}
    {%- if bib.entry_type == "inproceedings" %}
        {{macros::process_bib(text=macros::bib_proceedings(ref=bib))}}
    {%- elif bib.entry_type == "article" %}
        {{macros::process_bib(text=macros::bib_journal(ref=bib))}}
    {%- endif %}
    {%- if bib.tags.doi -%}
        DOI: <a href="https://doi.org//{{ bib.tags.doi }}" class="pub-link">{{ bib.tags.doi }}</a>
    {%- endif -%}
{% endmacro print_ref %}
